<table><tr><td class='vtop' >
	<!-- A canvas tag is required for Fabric.js -->
	<canvas id="c" width="500" height="400"  style="border:1px solid black;" ></canvas>
	<button ng-click="showHom()" class="btn btn-primary" >Home</button>
	<button ng-click="initDat()" class="btn btn-primary" >Init</button>
	<button ng-click="playDat()" class="btn btn-primary" >Play</button>
	<button ng-click="newRec('rect')" class="btn btn-primary" >Rect</button>
	<button ng-click="newRec('circ')" class="btn btn-primary" >Circle</button>
	<button ng-click="newRec('elli')" class="btn btn-primary" >Ellipse</button>
	<button ng-click="newRec('tria')" class="btn btn-primary" >Triangle</button>
	<button ng-click="newRec('line')" class="btn btn-primary" >Line</button>

	<!-- Tag for the color picker -->
	<ng-color-picker model-object="boxes" model-property="color"></ng-color-picker>
</td>
<td class='vtop' >
	<div>
		<input type="text" ng-model="cTxt"  size="20" placeholder="add text here"><br/>
		<button ng-click="newTxt()" class="btn btn-primary" >Text</button>
	</div>
	<div class='guide'>
		<h3>Usage notes:</h3>
		<ul>
			<li>Choose a colour from the swatch along the bottom</li>
			<li>Click a shape to add to the screen or</li>
			<li>Enter some text in the top right and click the text button</li>
			<li>Click the new item to move, resize or rotate</li>
			<li>Press play to see your actions replayed</li>
			<li>No need to save anything it is automatic</li>
			<li>Press init to initialise the screen and start again</li>
			<li>The home button takes you bak to the start screen</li>
		</ul>
	</div>
</td></tr></table>
