<table><tr><td class='vtop' style="min-width: 300px;">

	<accordion  close-others="true">
		<accordion-group heading="Add new animation" is-open="showAdd">
			<form ng-submit="addAnim()">
				<p>Add a new animation</p>
				<input type="text" ng-model="animName"  size="30" placeholder="new animation name" required >
				<input class="btn-primary" type="submit" value="add"> 
			</form>

		</accordion-group>

		<accordion-group heading="Local saved animations">
			<!-- Edit name and animation options -->
			<div ng-show="showEdN">
				<form ng-submit="upAName({{iEd}})">
					<p>Rename the animation</p>
					<input type="text" ng-model="edName"  size="30" placeholder="new animation name" required >
					<input class="btn-primary" type="submit" value="Change">
				</form>
				<br/><button ng-click="playDat({{iEd}})" class="btn-primary ">Play</button>
				<button ng-click="showEd()" class="btn-primary ">Edit</button>
				<button ng-click="tstDat()" class="btn-primary ">Test</button>
				<p/>
			</div>

			<!-- List local animations -->
			<div id='mmsg'>{{msg}}</div>
			<ul class="list-group">
				<li ng-repeat="anim in oAnims.aDAn | orderBy:'iD':true" class="list-group-item">
					<a ng-click="edAName({{anim.iD}})" href=''>{{anim.name}}</a>
				</li>
			</ul>

		</accordion-group>

		<accordion-group heading="Sample animations">
			<p>Coming soon</p>
		</accordion-group>

	</accordion>
</td>

<td class='vtop' >
	<!-- A canvas tag is required for Fabric.js -->
	<div ng-show="showCanv">
		<canvas id="c" width="500" height="400"  style="border:1px solid black;" ></canvas>
	</div>
</td></tr></table> 

